<header>
    <div class="nav-a">
        <a>
            <span class="material-icons arrow">arrow_back</span>
            <span class="arrow-span">Vissza az összes borkóstolóhoz</span>
        </a>
        <li></li>
        <a class="after-dot-span">Borvidék szerkesztése - Etyeki kúria borkóstoló Magyarország legszebb birtokán</a>
    </div>
    <div class="card">
        <img src="../assets/Group 239.png" class="card-img">
        <div class="card-body row">
            <div class="col">
                <div class="description">
                    <p class="card-title">Egyeki Kúria borkóstoló Magyarország legszebb birtokán</p>
                </div>
                <div class="text row row-cols-auto">
                    <div class="col">
                        <p class="card-text">EGYEKI KÚRIA</p>
                    </div>
                    <div class="col">
                        <p class="card-text2">Etyek, Egyek-Buda</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row row-cols-auto end-buttons">
                    <div class="col">
                        <label class="label-text">Státusz:</label>
                    </div>
                    <div>
                        <select class="form-select">
                            <option selected>Publikálva</option>
                            <option value="1">Nem publikált</option>
                        </select>
                    </div>
                    <div class="col">
                        <button class="icon">
                            <span class="material-icons">signal_cellular_alt</span>
                        </button>
                        <button class="icon">
                            <span class="material-icons">delete_outline</span>
                        </button>
                        <button class="preview">Előnézet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>