<div class="tabs-list text-center">
    <div class="grid-container">
      <div class="grid-item">
        <a class="navlink">Információk</a>
      </div>
      <div class="grid-item">
        <a class="navlink">Helyszín</a>
      </div>
      <div class="grid-item">
        <a class="navlink">Elérhetőség</a>
      </div>
      <div class="grid-item">
        <a class="navlink">Árak</a>
      </div>
      <div class="grid-item">
        <a class="navlink">Csomag tartalma</a>
      </div>
      <div class="grid-item">
        <a class="navlink">Képek</a>
      </div>
      <div class="grid-item">
        <a class="navlink">Haladó beállítások</a>
      </div>
    </div>
</div>
<hr>