<header>
    <div class="nav-a">
        <a>
            <span class="material-icons arrow">arrow_back</span>
            <span class="arrow-span">Vissza az összes borkóstolóhoz</span>
        </a>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="imageandtitle">
                <img src="../assets/ppl-in-winery.png" class="card-img">
                <p class="card-title">Egyeki Kúria borkóstoló Magyarország legszebb birtokán</p>
            </div>
            <div class="text">
                <div>
                    <p class="card-text">EGYEKI KÚRIA</p>
                </div>
                <div>
                    <p class="card-text2">Etyek, Egyek-Buda</p>
                </div>
            </div>
            <div class="col">
                <div class="end-buttons">
                    <div class="label-and-select">
                        <div>
                            <label class="label-text">Státusz:</label>
                        </div>
                        <div>
                            <select class="form-select">
                                <option selected>Publikálva</option>
                                <option value="1">Nem publikált</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="icons-and-button">
                        <div class="col icons">
                            <button class="icon">
                                <span class="material-icons">signal_cellular_alt</span>
                            </button>
                            <button class="icon">
                                <span class="material-icons">delete_outline</span>
                            </button>
                        </div>
                        <button class="preview">Előnézet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>