.main-bg {
    background-color: #F9F7F6;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tabs {
    width: 1506px;
    height: 772px;
    border-radius: 16px;
    background-color: white;
}

.mobile-tabs {
    width: 390px;
    background-color: #ffff;
    margin-top: 24px;
}